
/* do NOT DO position: relative in body */
body
{
	border: 0 solid var(--TRANSPARENT);
	margin: 0;
	padding: 0;
	
	font-family: "Crimson Text", "Times New Roman";
	text-decoration: none;
	/*color: var(--BLACK);
	text-align: center;*/
	
	text-align: center;
	
	overflow-x: hidden;
	border-collapse: collapse;
}

img
{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.line
{
	position: absolute;
	width: 100%;
	height: 1px;
	
	padding: 0%;
	margin: 0%;
	
	left: 0%;
	bottom: 0%;
	
	background-color: var(--BLACK);
}

a:link, a:active, a:visited, a:hover
{
	text-decoration: none;
}

#banner a:link, a:active, a:visited, a:hover
{
	color: var(--LIGHT_GREY);
	text-decoration: none;
}



/* BANNER */

.banner_template
{
	position: fixed;
	width: 100%;
	/*height: 8vh;*/
	height: 8vmin;
	min-height: 64px;
	
	top: 0%;
	left: 0%;
}

#banner
{
	background-color: var(--TRANSPARENT);
	z-index: -2;
	
	font-weight: 400;
	
	/*border-bottom: 0.25vmin solid var(--BLACK);*/
	/*border-bottom-left-radius: 5vmin;
	border-bottom-right-radius: 5vmin;*/
}

#banner_line
{
	/*top: 8vmin;*/
}

#banner_dummy
{
	background-color: rgb(24, 24, 24);
	
	/*visibility: hidden;*/
	z-index: -4;
	
	transition: all 0.2s linear;
}

#banner::after
{
	content: "";
	display: table;
	clear: both;
}

#banner nav
{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
	
	float: right;
	margin-right: 6vmin;
	
	height: 100%;
}

#banner ul
{
	padding: 0;
	
	margin-bottom: auto;
	/*margin-top: 3vmin;*/
	margin-top: 1.7em;
	
	float: left;
}

#banner li
{
	position: relative;
	
	display: inline-block;
	
	margin-left: 2em;
}

#banner a
{	
	font-family: 'Montserrat', sans-serif;
	color: var(--LIGHT_GREY);
	
	/*font-size: 2vmin;*/
	font-size: 1.2em;
}

#banner a:hover
{
	color: var(--BLUE);
}

#banner a::before
{
	position: absolute;
	
	content: "";
	display: block;
	height: 0px;
	width: 100%;
	background-color: var(--BLUE);
	
	top: -2.5vmin;
	
	transition: height 0.2s ease-in-out;
}

#banner a:hover::before
{
	height: 2px;
	transform: scale(1);
}

/* END BANNER */

.container
{
	position: relative;
	
	margin: 0;

	left: 0vw;
	top: 0vh;
	
	height: 100vh;
	width: 100vw;
	
	background-color: var(--TRANSPARENT);
}

#container1
{
	position: fixed;
	
	top: 0vh;
	left: 0vw;
	
	background-color: var(--WHITE);
	z-index: -3;
	
	font-family: "Lucida Console", Courier New;
}

#bg_img
{
	position: relative;
	
	margin: 0 auto;
	padding: 0;
	
	background-image: url('../images/background.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;

	width: 100%;
	height: 100%;
	
	max-width: 160vmin;
	max-height: 160vmin;
	
	min-width: 256px;
	min-height: 256px;
}

#short1
{
	top: 41%; /* fallback */
	top: calc(39% + 24px);
	
	color: var(--WHITE);
	font-size: 4vmin;
	
	width: auto;
}

#short1_lower
{
	top: 41%; /* fallback */
	top: calc(40% + 20px);
	
	color: var(--LIGHT_GREY);
	font-size: 1.5vmin;
	
	/*display: inline;*/
	
	visibility: hidden;
}

#container2
{
	left: 0vw;
	margin-top: 100vh;

	height: auto;
	
	font-family: "Crimson Text", "Times New Roman";
	
	background-color: rgb(242, 242, 242);
	
	padding-top: 32vh;
	padding-bottom: 24vh;
}

#container3
{
	left: 0vw;
	
	height: auto;
	font-family: "Crimson Text", "Times New Roman";
	
	background-color: var(--WHITE);
	
	padding-top: 12vh;
	padding-bottom: 12vh;
}

#container1 p
{
	/*display: inline-block;*/
	position: relative;
	overflow: hidden;
	text-overflow: clip;
	margin: 0 auto;
	
	text-align: center;
	
	font-weight: 700;
}

#heading2
{
	margin-top: 5vh;
	
	font-weight: 400;
	font-size: 4em;
	color: var(--BLACK);
}

#short2
{
	position: relative;
	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	
	text-align: center;
	font-weight: 300;
	font-size: 2em;
	color: var(--GREY);
	/*color: var(--BLACK);*/
	
	margin-bottom: 2em;
}

#heading3
{
	margin-bottom: 0px;
	
	font-weight: 700;
	font-size: 2em;
	color: var(--BLACK);
}

#short2::first-letter
{
	/*font-size: 6vmin;
	font-weight: 700;
	padding: 0;*/
	color: var(--BLUE);
}

#short3
{
	position: relative;
	/*font-style: italic;*/

	color: var(--GREY);

	/*font-size: 1.5em;
	margin-top: 1.5em;	
	margin-bottom: 1.5em;*/

	font-size: 1em;
	margin-top: 3em;	
	margin-bottom: 3em;
}

#short3_email
{
	/*text-decoration: underline;*/
	
	/*font-weight: 700;*/
	background-color: #80d7ff;
}

#container2 ul
{
	position: absolute;
	
	margin-top: 0vh;
	
	list-style-position: inside;
	
	width: 25%;
	height: 25%;
}

#container2 li
{
	text-align: left;
	font-weight: 300;
	font-size: 1em; /*3vmin;*/
	color: var(--GREY);
}

@keyframes scroll_arrow_animation
{	
	0% {
		transform: translateY(-6px);
	}

	50% {
		transform: translateY(6px);
	}

	100% {
		transform: translateY(-6px);
	}
}

#scroll_arrow
{
	background: url('../images/scroll_icon.png') no-repeat;
	background-size: contain;
	
	position: absolute;
	bottom: 4vh;
	
	margin-left: -5vmin;
	left: 50vw;
	width: 10vmin;
	height: 10vmin;
	
	animation: scroll_arrow_animation 1.25s ease infinite;
}

#contact_button
{
	position: relative;
	
	font-family: 'Montserrat', Arial-Rounded-Mt-Bold, Arial;
	
	border: 2px solid var(--BLUE);
	border-radius: 0.25em;
		
	width: 10vmin;
	height: 20vmin;
	
	padding-top: 1em;
	padding-bottom: 1em;
	
	padding-left: 2.5em;
	padding-right: 2.5em;
	
	margin: 1em;
	text-align: center;
	font-weight: 300;
	font-size: 1.5em; /*3vmin;*/
	color: var(--BLUE);
	
	-webkit-transition: color 1s, background-color 0.6s;
	transition: color 1s, background-color 0.6s;
}

#contact_button:hover
{
	color: var(--WHITE);
	background-color: var(--BLUE);
}




#self_portrait
{
	/*previous value was 20rem*/
	
	width: 36vh;
	height: auto;
	
	min-width: 256px;
	min-height: 256px;
	
	border: 1px solid var(--BLACK);
	
	border-radius: 100%;
}






.project
{
	margin: 0 auto;
	
	margin-top: 4em;
	margin-bottom: 4em;
	
	margin-left: 44%;
	
	min-height: 16vw;
	
	background-color: transparent;
	
	font-family: "Crimson Text";
	font-size: 1.5em;
	color: var(--GREY);
	font-weight: 300;
	
	width: 40%;
	
	height: auto;
	
	word-wrap: break-word;
}

.project img
{
	position: absolute;
	right: 58vw;
	
	object-fit: cover;
	
	
	/*width: 16vw;
	height: 16vw;*/
	width: 14vw;
	height: 14vw;
	
	
	display: inline-block;
	
	border-radius: 20%;
	
	min-width: 144px;
	min-height: 144px;
}

.project p
{
	display: block;
	
	margin: 0 auto;
	
	text-align: left;
}

.project #short
{
	color: var(--BLACK);
	font-style: italic;
}

.project #desc
{
	margin-top: 1.5em;
}

.project a:link, a:active, a:visited, a:hover
{
	color: var(--BLUE);
	text-decoration: none;
}

/* Medium devices (landscape tablets, 768px or lower) */
/*@media only screen and (max-width: 768px) {*/
@media only screen and (orientation: portrait) {

.project
{
	margin-left: 10%;
	margin-right: 10%;
	
	margin-top: 8em;
	margin-bottom: 8em;
	
	width: 80%;
}

.project img
{
	position: relative;
	
	left: 0;
	right: 0;
	
	margin: 0 auto;
	margin-bottom: 1em;
	
	display: block;
	text-align: center;
	
	width: 60vw;
	height: 60vw;
	
	min-width: 96px;
	min-height: 96px;
}
	
}
